.nav {
  width: 1120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  list-style-type: none;
  background-color: rgb(161, 153, 153);
  min-height: 55px;
}

.navlink {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
}
